@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.topics {
  display: flex;
  background-color: #262626;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  gap: 10%;
  width: 300px;
}

.title {
  width: fit-content;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  left: 10%;
  top: 40px;
  h1 {
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-family: "Modak", system-ui;
    color: white;
    font-size: 75px;
    margin: 0;
    line-height: 50px;
  }
  h6 {
    user-select: none;
    cursor: pointer;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1em;
    margin: 0;
  }
}
.foryou {
  position: relative;
  display: flex;
  background-color: #dd2e44;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 45px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    color: white;
  }
}

.classes {
  margin-top: -7%;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: white;
    position: relative;
    left: 10%;
  }
}
.lineanimation {
  width: fit-content;
}
.lineanimation::before {
  content: "";
  position: absolute;
  top: 100%;
  display: flex;
  width: 0;
  height: 10%;
  background-color: #dd2e44;
  transition: 0.3s;
}
.lineanimation:hover::before {
  width: 100%;
}
