#profilecontainer {
  width: 160px;
  height: 60px;
  background-color: #262626;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

#username {
  font-family: Inter;
  color: white;
  user-select: none;
  margin-left: 20px;
}

#pfp {
  width: 45;
  height: 45px;
  border-radius: 100px;
  margin-right: 10px;
  user-select: none;
}
