@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

#addClasspopup {
  position: absolute;
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#inside {
  border-radius: 30px;
  background-color: white;
  width: 35%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;

  h1 {
    font-family: "Inter", sans-serif;
  }
}
.popupInput {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;

  input {
    width: 100%;
    background-color: #f1f1f1;
    outline: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 35px;
  }
  input::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 35px;
    position: relative;
    left: 3%;
  }
}
#seperate {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
#upload {
}
