.rightside {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}




.videobuttons {
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 800px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  left: 0.5%;
}

.heart {
  width: 55%;
  height: 60%;
  background: radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top
      left,
    radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
    linear-gradient(to bottom left, red 43%, transparent 43%) bottom left,
    linear-gradient(to bottom right, red 43%, transparent 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: rgba(22, 24, 35, 0.1);
  border-radius: 50%;
  img {
    width: 55%;
    height: 55%;
  }
}
.background:hover {
  background-color: rgba(22, 24, 35, 0.2);
}
