.rightside {
  display: flex;
  flex: 3.5;
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: top;
}
.video {
  width: 300px;
  height: 450px;
  border-radius: 30px;
  border: 1px black solid;
}
